<?xml version="1.0" encoding="utf-8" ?>
<config>
  <music name="Approach" />
  <music name="Britain1" />
  <music name="Britain2" />
  <music name="BTCastle" />
  <music name="Bucsden" />
  <music name="Cave01" />
  <music name="Combat1" />
  <music name="Combat2" />
  <music name="Combat3" />
  <music name="Cove" />
  <music name="Create1" />
  <music name="Death" />
  <music name="DragFlit" />
  <music name="DreadHornArea" />
  <music name="Dungeon2" />
  <music name="Dungeon9" />
  <music name="ElfCity" />
  <music name="Forest_a" />
  <music name="GoodEndGame" />
  <music name="GoodVsEvil" />
  <music name="GreatEarthSerpents" />
  <music name="GrizzleDungeon" />
  <music name="GwennoConversation" />
  <music name="Humanoids_U9" />
  <music name="InTown01" />
  <music name="Invalid" />
  <music name="Jhelom" />
  <music name="Jungle_a" />
  <music name="LBCastle" />
  <music name="Linelle" />
  <music name="Magincia" />
  <music name="MelisandesLair" />
  <music name="Minoc" />
  <music name="MinocNegative" />
  <music name="Moonglow" />
  <music name="Mountn_a" />
  <music name="Nujelm" />
  <music name="Ocllo" />
  <music name="OldUlt01" />
  <music name="OldUlt02" />
  <music name="OldUlt03" />
  <music name="OldUlt04" />
  <music name="OldUlt05" />
  <music name="OldUlt06" />
  <music name="ParoxysmusLair" />
  <music name="Paws" />
  <music name="Plains_a" />
  <music name="Sailing" />
  <music name="Samlethe" />
  <music name="SelimsBar" />
  <music name="SerpentIsleCombat_U7" />
  <music name="Serpents" />
  <music name="Skarabra" />
  <music name="Stones2" />
  <music name="Swamp_a" />
  <music name="Taiko" />
  <music name="Tavern01" />
  <music name="Tavern02" />
  <music name="Tavern03" />
  <music name="Tavern04" />
  <music name="TokunoDungeon" />
  <music name="Trinsic" />
  <music name="ValoriaShips" />
  <music name="Vesper" />
  <music name="Victory" />
  <music name="Wind" />
  <music name="Yew" />
  <music name="Zento" />
  <regiontype name="AcidRiver" />
  <regiontype name="ApprenticeRegion" />
  <regiontype name="CancelQuestRegion" />
  <regiontype name="CrystalField" />
  <regiontype name="Default" />
  <regiontype name="DungeonRegion" />
  <regiontype name="GreenAcres" />
  <regiontype name="GuardedRegion" />
  <regiontype name="IcyRiver" />
  <regiontype name="Jail" />
  <regiontype name="MondainRegion" />
  <regiontype name="NoHousingRegion" />
  <regiontype name="PoisonedSemetery" />
  <regiontype name="PoisonedTree" />
  <regiontype name="QuestCompleteObjectiveRegion" />
  <regiontype name="QuestNoEntryRegion" />
  <regiontype name="QuestOfferRegion" />
  <regiontype name="TownRegion" />
  <regiontype name="TwistedWealdDesert" />
</config>